/* common design */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f3f1ff;
}

h3 {
  color: #562eff;
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

hr {
  margin: 20px 0;
  border: none;
  height: 1px;
  background-color: #d1d1d1;
}

/* header design */
header {
  width: 100%;
  background-color: #562eff;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 200px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo > img {
  height: 51px;
  width: 40px;
}

.logo > h4 {
  color: white;
}

.header-items {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.header-items i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
  display: none;
}

/* main design */
main {
  width: 100%;
  padding: 20px 200px;
}

/* top-player-blog-container */

.top-player-blog-container {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 25px;
}

.players-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
  gap: 30px;
}

.players {
  display: flex;
  align-items: center;
  gap: 10px;
}

.players img {
  width: 56px;
  height: 56px;
}

.players p {
  font-size: 18px;
}

/* top blogs */

.blog-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
  gap: 30px;
}

.blogs {
  display: flex;
  gap: 10px;
}

.blogs img {
  width: 177px;
  height: 117px;
}

.blog-title {
  font-size: 20px;
}

.blog-writter {
  font-size: 16px;
}

.by {
  color: rgba(159, 159, 159, 1);
}

.writter {
  color: rgba(86, 46, 255, 1);
}

.inside-blog {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* latest course */

.latest-course-container {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 25px;
  margin-top: 20px;
}

.courses {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.course-item img {
  width: 224px;
  height: 104px;
  border-radius: 5px;
}

.course-title {
  font-size: 16px;
  margin: 10px 0;
}

.course-writter {
  font-size: 13px;
  color: #ed6b4f;
}

.ratings {
  display: flex;
  gap: 60px;
  align-items: center;
}

.ratings i {
  color: rgba(255, 192, 20, 1);
  font-size: 11px;
}

.ratings span {
  font-size: 14px;
  color: #a2a2a2;
}

.rating-time {
  background-color: #ffe4e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 2px;
}

.rating-time i,
p {
  font-size: 11px;
}

@media screen and (min-width: 1400px) {
  nav,
  main {
    width: 1400px;
    margin: auto;
  }
}

@media screen and (max-width: 1200px) {
  nav,
  main {
    padding: 20px 100px;
  }
}

@media screen and (max-width: 992px) {
  .blog-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .blogs img {
    width: 300px;
    height: 200px;
  }

  .blog-title {
    font-size: 25px;
  }

  .blog-writter {
    font-size: 20px;
  }

  .course-container-title {
    text-align: center;
  }

  .courses {
    grid-template-columns: repeat(1, 1fr);
  }

  .course-item {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    border-radius: 5px;
  }

  .course-item > img {
    width: 400px;
    height: 200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .course-title {
    font-size: 25px;
    text-align: center;
  }

  .course-writter {
    font-size: 18px;
    text-align: center;
  }

  .ratings {
    margin-top: 20px;
    justify-content: center;
  }
}

@media screen and (min-width: 992px) {
  .blog-container > hr {
    display: none;
  }

  .course-horizontal {
    display: none;
  }
}

@media screen and (max-width: 868px) {
  .header-items > li,
  .profile-image {
    display: none;
  }

  .header-items i {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .players-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .blogs {
    flex-direction: column;
  }

  .blogs > img {
    width: 400px;
    height: 200px;
    margin: 0 auto;
  }

  .blog-title,
  .blog-writter,
  .top-blog-title {
    text-align: center;
  }

  .course-item > img {
    width: 350px;
    height: 175px;
  }

  .course-title {
    font-size: 20px;
  }

  .course-writter {
    font-size: 16px;
  }
}

@media screen and (max-width: 640px) {
  nav,
  main {
    padding: 0 40px;
  }
}

@media screen and (max-width: 576px) {
  nav {
    padding: 10px;
  }

  main {
    padding: 0;
  }

  .blogs img {
    width: 100%;
    height: 100%;
  }

  .blog-title {
    font-size: 22px;
  }

  .blog-writter {
    font-size: 16px;
  }

  .courses {
    display: flex;
    flex-direction: column;
  }

  .course-item {
    padding: 30px;
  }

  .course-item img {
    width: 100%;
    height: 75%;
  }

  .course-title {
    font-size: 18px;
  }

  .course-writter {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .players-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .ratings i {
    font-size: 9px;
  }

  .ratings span {
    font-size: 12px;
  }
}
